<% layout("/layouts/boilerplate.ejs") %>
<div class="row mt-3 mb-3">
  <div class="col-8 offset-2">
    <h3>Create New Listing:</h3>
    <form method="POST" action="/listings">
      <div class="mb-3">
        <label for="title" class="form-label m-0 mt-3" >Title</label>
        <input name="listing[title]" placeholder="Add a catchy title" type="text" class="form-control m-0">
      </div>

      <div class="mb-3">
        <label for="description" class="form-label m-0">Description</label>
        <textarea name="listing[description]" type="text" class="form-control m-0"></textarea>
      </div>
      
      <div class="mb-3">
        <label for="image" class="form-label m-0">Image Link</label>
        <input name="listing[image]" placeholder="Enter image URL/Link" type="text" class="form-control m-0">
      </div>

      <div class="row">

        <div class="mb-3 col-md-4">
          <label for="price" class="form-label m-0">Price</label>
          <input name= "listing[price]" placeholder="1200" type="number" class="form-control m-0">
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-label m-0">Country</label>
          <input name="listing[country]" placeholder="India" type="text" class="form-control m-0">
        </div>

      </div>
      
      
      
      <div class="mb-3">
        <label for="location" class="form-label m-0">Location</label>
        <input name="listing[location]" placeholder="Kota, Rajasthan" type="text" class="form-control m-0">
      </div>
      
      
    
      <button class="btn btn-dark add-btn mt-3 mb-3">Add</button>
    </form>
  </div>
</div>
